/*
.view-container.tab-content {
    height:100%;
    padding: 20rem;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
@supports(padding: max(0px)) {
    .post {
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}
*/
.col-null {
    transform: translateX(0px);
}

ion-header-bar.bar .title.title-left {
    left: 40px !important;
}

ion-header-bar.bar .title.title-padding-right {
    right: 120px !important;
}

.aside-open ion-header-bar.bar .button.button-icon.ion-navicon {
    display: none
}

.aside-open ion-header-bar.bar .title.title-left:not(.about) {
    left: 5px !important
}

input[type=search] {
    font-size: 16px
}



.icon.red-flag {
    color: #c80000
}

.item-divider-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon.ion-ios-flag.red-flag.head {
    font-size: 24px;
    margin-right: 14px;
    vertical-align: middle
}

.ion-ios-search-strong:before {
    font-size: 18px
}

.item-icon-left .icon {
    left: 4px
}

a.item.item-icon-left {
    line-height: 44px
}

a.item-divider {
    line-height: 13px;
    padding-left: 10px;
}

.item {
    border-color: #eee
}

.list .item {
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0
}

a.list-items-item {
    width: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
}

.item-divider {
    text-transform: uppercase;
    font-size: .9em;
    background-color: #ecf1f7;
    color: #767676 !important
}

ion-side-menu .item {
    border: none;
    padding: 12px 20px
}

.col {
    min-width: 116px;
    border: solid 1px #ddd;
    border-right-style: none
}

.col:last-child {
    border-right: solid 1px #ddd
}
.col.input-group-prepend{
    border:none;
}

#ps .col {
    border-bottom-style: none
}

#ps .row:last-child .col {
    border-bottom: 1px solid #ddd
}

div.header.button-bar a.button {
    border-radius: 0;
    color: gray
}

div.header.button-bar a.button {
    border: #ddd
}

#ps .row .col:first-child,
.header .col {
    background: #699cf0;
    color: #fff;
    font-size: 1.1em
}

div.header.button-bar a.button.selected {
    border-bottom: 2px solid #84b0fb;
    color: #84b0fb;
    font-weight: 700
}

.expandable-content {
    font-size: 15px
}

.expandable-content .col {
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.expandable-content .grade-content,
.expandable-content .grade-header {
    padding: 5px 8px
}

.expandable-content .grade-header {
    background: #699cf0;
    color: #fff;
    font-weight: 500
}

.expandable-content .notes {
    margin: 20px 5px 10px 5px
}

.button.button-icon.ion-ios-arrow-back,
.filter-bar-cancel.button.button-clear {
    font-weight: 500
}


.bar .button.button-icon:before {
    margin-right: 8px;
}

.bar .about.title.title-left {
    left: 32px !important;
}

.bar .info.title.title-left {
    left: 6px !important;
}

@media screen and (max-width:600px) {
    .expandable-content .row {
        display: block
    }

    .expandable-content .col {
        display: flex;
        min-height: 50px
    }

    .expandable-content .grade-header {
        max-width: 80px;
        min-width: 80px
    }

    .expandable-content .col {
        border-bottom: none
    }

    .expandable-content .col:last-child {
        border-bottom: 1px solid #ddd
    }

    .expandable-content .col {
        border-right: solid 1px #ddd
    }
}

.highlighted {
    background: #ff0
}

.loading-container .loading {
    background: inherit
}

.loading-container .loading img {
    border-radius: 5%;
    max-width: 50%
}

.loading-container.active {
    background-color: #0c60ee
}

.ion-ios-flag:not(.icon.red-flag) {
    color: #d1d1d1
}

@media (prefers-color-scheme:dark) {
    .menu.menu-left {
        opacity: .98
    }

    .bar-footer,
    .bar-positive,
    .bar.bar-stable,
    .tabs-positive .tabs {
        background: #000 !important
    }

    .tabs-positive .tabs {
        padding-top: 4px
    }

    .item-content,
    .item.item-icon-left,
    .scroll .padding,
    ion-content,
    ion-item.item:not(.item-divider) {
        background: #050505 !important;
        color: #fff !important
    }

    .item-divider,
    div.header.button-bar a.button {
        background: #262626;
        color: #fff
    }

    .item-content:active,
    .item:active,
    a.button.selected,
    ion-item.item:active {
        background: #333 !important
    }

    .item {
        border-color: #2d2d2d !important
    }

    ons-col img {
        background: #fff
    }

    #title-wrapper .row .col {
        background: #699cf0
    }

    .ion-ios-flag:not(.icon.red-flag) {
        color: #4b4b4b
    }

    .icon.red-flag {
        color: #ff1f1f !important
    }

    .filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
        background: #555 !important
    }

    .bar.item-input-inset .item-input-wrapper input,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #fff !important
    }

    span.highlighted {
        color: #333 !important
    }

    .popup {
        background: #111 !important;
        border: 1px solid #545454 !important;
        color: #ddd
    }

    .popup-head {
        border-bottom-color: #545454
    }

    .popup-buttons .button-default {
        background-color: #9e9e9e
    }

    .card.jcog {
        background-color: #333;
    }

}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

.list-group {
    padding: 10px;
    /*background-color: #ddd;*/
}

.draglist-right,
.draglist-left {
    height: 100%;
    min-height: 100px;

    overflow: scroll;
}

/*
.draglist-right {
    height: 300px;
}

.draglist-left {
    height: 361px;
}
*/
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 40px !important;
}

.draglist-right .item-collapse {
    display: none;
}

.draglist-left .sortable-chosen .item-collapse {
    /* display: none; */
}

.draglist-right .item-show {
    display: none;
}

.draglist-right .sortable-chosen .item-show {
    display: inline-block;
}

.draglist-left .sortable-ghost,
.draglist-right .sortable-ghost {
    background-color: #eee;
    color: #bbb;
}

.item-collapse {
    margin: 5px 10px;
}

.draglist-right div {
    background-color: #f7f7f7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-collapse select,
.padding {
    margin: 5px 0;
    width: 100%;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

/*
        label {
            width:100%;
            height:100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            background:#f9f9f9;
            padding:5px 10px;
        }
        */
label input[type=radio] {
    display: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    background-color: rgb(0, 116, 0);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: #ddd;
    /*#218838*/
}

.animate-if {
    opacity: 1;
    transition: .3s all linear;
    transform: translateY(0);

}

.animate-if.ng-hide {
    line-height: 0;
    opacity: 0;
    transform: translateY(100px);

}

.animate-if.ng-hide-remove {
    transition: .5s all linear;
}

.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    height: 0;
}