<ion-view ng-controller="PsCtrl">
    <ion-header-bar class="bar-positive">
        <h1 class="title info">Performance Status</h1>
    </ion-header-bar>
    <div style="padding:5px; overflow: scroll; height:100%;" id="ps">
        <div style="margin-top:60px;"></div>
        <!--
        <div style="padding: 0; " class="col-12">
            <div class="list-group-item selectable" ng-repeat="element in shareData.elements" ng-if="shareData.element(element)">
                <div class="row" style="margin-top:0 !important;">
                <div class="col-6">
                    <div>{{element.id}}: {{element.term}}</div>
                    <div class="item-collapse" ng-repeat="item in element.items">
                        <div ng-repeat="a in item.ans" ng-if="item.selected == $index">{{item.title}}{{a}}
                        </div>
                    </div>
                </div>
                <div  class="col-6">
                    <angular-barcode ng-model="anscheck(element)" bc-options="options2" bc-class="barcode" bc-type="svg"></angular-barcode></div>
            </div>
            </div>
        </div>
        -->
        <ion-item ng-if="shareData.elements.length > 0" class="padding" style="margin:16px 0;background-color:#ffe6ea">
            <textarea ng-bind="shareData.aeList" style="width:100%;height:300px;background-color:#ffe6ea"
                placeholder="Enter more information here..."></textarea></ion-item>
        <div style="margin-top:60px;"></div>
    </div>
</ion-view>