<div ng-controller="HomeCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-class="{'title-padding-right': shareData.langJa}" ng-bind-html="'PRO'">
        </h1>
        <div class="button button-icon" style="padding:0;">
            <div class="button button-icon ion-navicon" ng-click="toggleStatus = !toggleStatus"></div>
        </div>
    </ion-header-bar>
    <ion-content id="shared-lists" overflow-scroll="true" >
        <div class="row" style="height:100%;">
            <ion-scroll delegate-handle="mainScroll" id="list1" direction="y" ng-class="{'col-9' : toggleStatus, 'col-12': !toggleStatus}"
                class="list-group" style="height:100%;">
                <div style="padding-bottom:20px;">
                    <div class="card" ng-repeat="element in shareData.elements" 　id={{element.id}}>
                        <div class="card-header my-handle item item-icon-right">
                            <span>{{element.term}}</span><a ng-click="moveItemOneToTwo(element.id)"> <i
                                    class="icon ion-ios-trash-outline"></i></a>
                        </div>
                        <div class="item-collapse animate-if" ng-repeat="(i, item) in element.items"
                            ng-show="$index > 0 ? element.items[0].selected > 0 : true">
                            <div class="padding">{{item.ask}}</div>
                            <!--
                            <select ng-model="item.selected">
                                <option ng-repeat="a in item.ans" ng-value="$index">{{a}}</option>
                            </select>
                            -->
                            <div class="row">
                                <div class="col input-group-prepend" ng-repeat="(j, a) in item.ans">
                                    <label class="btn btn-block "
                                        ng-class="{'btn-success': item.selected === j, 'btn-outline-secondary': item.selected !== $index}">
                                        <input type="radio" ng-click="setGrade(element, i, item, j)">
                                        <div>{{a}}</div>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ion-scroll>
            <!-- score box > dictation > dnd list -->

            <ion-scroll delegate-handle="menuScroll" id="list2" direction="y" ng-class="{'col-3' : toggleStatus, 'col-0': !toggleStatus}"
                class="list-group" style="height:100%;">
                <div style="padding-bottom:20px;">
                    <input style="width: auto; margin: 10px 10px 10px 10px; border-radius:20px; padding: 4px 8px;"
                        ng-change="changed(searchText)" ng-model="searchText" placeholder="Search...">
                    <div class="list-group-item card " ng-repeat="element in shareData.elements2 | filter:searchText"
                        id={{element.id}}>
                        <div class="item item-icon-left">
                            <a ng-click="moveItemTwoToOne(element.id)"> <i
                                    class="icon ion-ios-undo-outline"></i></a><span
                                class="item-show"></span>{{element.term}}
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</div>