<div ng-controller="HomeCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-class="{'title-padding-right': shareData.langJa}" ng-bind-html="'PRO'">
        </h1>
        <div class="button button-icon" style="padding:0;">
            <div class="button button-icon ion-navicon" ng-click="toggleStatus = !toggleStatus"></div>
            </div>
    </ion-header-bar>
    <ion-content style="width: 100px;" has-footer id="ref"></ion-content>
    <div id="shared-lists" class="row" >

        <div class="list-group" ng-class="{'col-9' : toggleStatus, 'col-12': !toggleStatus}" ng-style="{'height': height('ref') + 'px'}">
            <div id="list1" class="draglist-left" ng-sortable>
                <div class="card" ng-repeat="element in shareData.elements" 　id="element.id">
                    <div class="card-header my-handle">
                        <span>{{element.term}}</span>
                    </div>
                    <div class="item-collapse animate-if" ng-repeat="item in element.items"
                        ng-show="$index > 0 ? element.items[0].selected > 0 : true">
                        <div class="padding">{{item.ask}}</div>
                        <!--
                            <select ng-model="item.selected">
                                <option ng-repeat="a in item.ans" ng-value="$index">{{a}}</option>
                            </select>
                            -->
                        <div class="row">
                            <div class="col input-group-prepend" ng-repeat="a in item.ans">
                                <label class="btn btn-block "
                                    ng-class="{'btn-success': item.selected === $index, 'btn-outline-secondary': item.selected !== $index}"
                                    ng-click="initialize(element.items)">
                                    <input type="radio" ng-click="setGrade(item, $index)">
                                    <div>{{a}}</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- score box > dictation > dnd list -->
        <div class="list-group"  ng-class="{'col-3' : toggleStatus}" ng-style="{'height': height('ref') + 'px'}">
            <input style="width: auto; border-radius:20px; padding: 0 4px; margin-bottom:20px;"
                ng-change="changed(searchText)" ng-model="searchText" placeholder="Search..."></label>
            <div id="list2" class="draglist-right" ng-sortable>
                <div class="list-group-item card" ng-repeat="element in shareData.elements2 | filter:searchText"
                    id={{element.id}}>
                    <div>
                        <span class="item-show"></span> {{element.term}}</div>
                </div>
            </div>
        </div>
    </div>
</div>