<ion-view>
    <ion-header-bar class="bar-positive">
        <a class="button button-icon ion-ios-arrow-back" ui-sref="tabs.info">
        </a>
        <h1 class="title about">Terms of Service</h1>
    </ion-header-bar>
    <ion-content class="single-page-white">
        <div class="padding about">
            <h4 id="toc_0">TERMS OF SERVICE</h4>

            <p>Last Updated: 20 May 2020</p>
            <ul>
                <li>CTCAE 5.0 PWA - an easy way to browse Common Terminology Criteria for Adverse Events (CTCAE) 5.0,
                    using <a href="https://en.wikipedia.org/wiki/Progressive_web_application">Progressive Web App</a>
                    architectures promoted by Google and other techs.</li>
            </ul>

            <div class="padding-top padding-bottom">
                <p>Copyright &copy; 2020 Koichiro Watanabe</p>
                <p><strong>PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS SITE. BY ACCESSING THIS SITE, YOU AGREE
                        TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO THE TERMS, PLEASE DO NOT USE THE
                        SITE.</strong></p>
                <p>CTCAE 5.0 PWA is freely available for educational use. Permission is hereby granted, free of charge,
                    to any person obtaining a copy of this software and associated documentation files (the "Software"),
                    to deal in the Software without limitation the rights to use, and copy the
                    Software, and to permit persons to whom the Software is furnished to do so, subject to the following
                    conditions:
                </p>
                <p>The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the Software.</p>
                <p>Licensee shall not modify, distribute, publish, sell, or make available Licensed Products without a
                    prior written agreement.</p>
                <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
                    LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
                    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
                    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            </div>
        </div>
    </ion-content>
</ion-view>