<ion-view>
    <div>
        <ion-header-bar class="bar-positive">
            <a class="button button-icon ion-ios-arrow-back" ui-sref="tabs.info">
            </a>
            <h1 class="title about">Libraries We Use</h1>
        </ion-header-bar>
        <ion-content class="single-page-white" ng-controller="InfoCtrl">
            <div class='item item-divider' style="border-bottom: 0px;"></div>
            <div class="padding" style="padding:8px;">
                <ul style="padding:8px 0;">
                    <li>The following documents may be included in this application: Common Terminology Criteria for
                        Adverse
                        Events (CTCAE) v5.0 (2017-NOV-27) from
                        <span style="color: #387ef5!important;"
                            onclick="window.open('https://ctep.cancer.gov/protocolDevelopment/electronic_applications/ctc.htm', '_system', 'location=yes'); return false;">https://ctep.cancer.gov/protocolDevelopment/electronic_applications/ctc.htm</span>
                    </li>
                    <li>These documents are in the Public Domain.</li>
                </ul>
                <!--
                <div style="padding:8px 0;" ng-if="shareData.langJa">
                    <ul>
                        <li>The following documents with permission of JOCOG may be included in this application: Common
                            Terminology Criteria for Adverse
                            Events (CTCAE) v5.0 JCOG version (2019-SEP-05) from <span style="color: #387ef5!important;"
                                onclick="window.open('http://www.jcog.jp/doctor/tool/ctcaev5.html', '_system', 'location=yes'); return false;">http://www.jcog.jp/doctor/tool/ctcaev5.html</span>
                        </li>
                        <li>Users ('You') shall not modify, distribute, publish, or sell without a
                            prior permission of JCOG.</li>
                    </ul>
                    <ul>
                        <li>JCOGより許諾を得て転記した以下のドキュメントが含まれます。</li>
                        <li>有害事象共通用語規準 v5.0日本語訳JCOG版 (CTCAE v5.0 -JCOG)</li>
                        <li>[CTCAE v5.0/MedDRA v20.1(日本語表記:MedDRA/J v22.1)対応 2019年9月5日]</li>
                        <li><span style="color: #387ef5!important;"
                                onclick="window.open('http://www.jcog.jp/doctor/tool/ctcaev5.html', '_system', 'location=yes'); return false;">http://www.jcog.jp/doctor/tool/ctcaev5.html</span>
                        </li>
                        <li>修正、配布、公開、販売にはJCOGの事前の許諾が必要です。</li>
                    </ul>
                </div>
                -->
            </div>
            <div class='item item-divider' style="border-bottom: 0px;"></div>
            <div class="padding about">
                <p>THE FOLLOWING SETS FORTH ATTRIBUTION NOTICES THIRD PARTY SOFTWARE THAT MAY BE CONTAINED IN THIS
                    APPLICATION. </p>
                <hr>
                <p>The following software may be included in this application: angular.js from https://angular.io/</p>
                <p>This software contains the following license and notice below:</p>
                <p>The MIT License</p>
                <p>Copyright &copy; 2010 - Present Google, Inc.</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
                    associated documentation files (the
                    <q>Software</q>), to deal in the Software without restriction, including without limitation the
                    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
                    Software, and to permit persons to whom
                    the Software is furnished to do so, subject to the following conditions:</p>
                <p>The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the Software.</p>
                <p>THE SOFTWARE IS PROVIDED
                    <q>AS IS</q>, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
                    SHALL THE AUTHORS OR COPYRIGHT HOLDERS
                    BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
                    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.</p>
                <hr>
                <p>The following software may be included in this application: Ionic from http://drifty.com/</p>
                <p>This software contains the following license and notice below:</p>
                <p>The MIT License</p>
                <p>Copyright &copy; 2015-present Drifty Co.</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
                    associated documentation files (the
                    <q>Software</q>), to deal in the Software without restriction, including without limitation the
                    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
                    Software, and to permit persons to whom
                    the Software is furnished to do so, subject to the following conditions:</p>
                <p>The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the Software.</p>
                <p>THE SOFTWARE IS PROVIDED
                    <q>AS IS</q>, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
                    SHALL THE AUTHORS OR COPYRIGHT HOLDERS
                    BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
                    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.</p>
                <hr>
                <p>The following software may be included in this application: Ionic Filter Bar from
                    https://github.com/djett41/ionic-filter-bar/</p>
                <p>This software contains the following license and notice below:</p>
                <p>The MIT License</p>
                <p>Copyright &copy; 2015 - Present Devin Jett</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
                    associated documentation files (the
                    <q>Software</q>), to deal in the Software without restriction, including without limitation the
                    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
                    Software, and to permit persons to whom
                    the Software is furnished to do so, subject to the following conditions:</p>
                <p>The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the Software.</p>
                <p>THE SOFTWARE IS PROVIDED
                    <q>AS IS</q>, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
                    SHALL THE AUTHORS OR COPYRIGHT HOLDERS
                    BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
                    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.</p>
            </div>
            <div class='item item-divider' style="border-bottom: 0px;"></div>
        </ion-content>
    </div>
</ion-view>